<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }} — Dimitar Dimitrov's Notes</title>
	<link rel="stylesheet" type="text/css" href="../../../../stylesheets/notes.css">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ page.title }}" />
	{% if page.image %}<meta property="og:image" content="{{ page.image }}" />{% endif %}
	{% if page.description %}<meta property="og:description" content="{{ page.description }}" />{% endif %}
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-28197881-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body>
	<div id="main">
		{{ content }}

		<p class="meta">
			Публикувано на {{ page.date | date: "%d.%m.%Y" }} г.<br />
			<a href="/">←</a>
		</p>
		<p class="navigation">
		</p>
	</div>
	{% if page.slideshow %}<script type="text/javascript" src="../../../../scripts/slideshow.js"></script>{% endif %}
</body>
</html>
